<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:p="http://www.springframework.org/schema/p"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!--Test DB-->
    <bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://uvk92ifup2c1zsnv:l78UywPzvAEqQyb7O8XC@b671lvi3ihw2r6zl9wc6-mysql.services.clever-cloud.com:3306/b671lvi3ihw2r6zl9wc6?useSSL=false" />
        <property name="username" value="uvk92ifup2c1zsnv" />
        <property name="password" value="l78UywPzvAEqQyb7O8XC" />
    </bean>


    <!--Local DB
    <bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/b671lvi3ihw2r6zl9wc6?useJDBCCompliantTimezoneShift=true&amp;useSSL=false" />
        <property name="username" value="root" />
        <property name="password" value="sas123456" />
    </bean>
-->

    <!--App DB
    <bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://u08ddmg7kierfqlm:waFpYzfLZXLKfkzp2m2l@bthmslyllli9cwr1b0fp-mysql.services.clever-cloud.com:3306/bthmslyllli9cwr1b0fp?useSSL=false" />
        <property name="username" value="u08ddmg7kierfqlm" />
        <property name="password" value="waFpYzfLZXLKfkzp2m2l" />
    </bean>
    -->

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="ds"></property>
    </bean>

    <bean id="transDao" class="com.SAS.crudoperations.TransactionCRUD">
        <property name="template" ref="jdbcTemplate"></property>
    </bean>

    <bean id="usersDao" class="com.SAS.crudoperations.UsersCRUD">
        <property name="template" ref="jdbcTemplate"></property>
    </bean>

    <bean id="gameDao" class="com.SAS.crudoperations.GameCRUD">
        <property name="template" ref="jdbcTemplate"></property>
    </bean>

    <bean id="teamDao" class="com.SAS.crudoperations.TeamCRUD">
        <property name="template" ref="jdbcTemplate"></property>
    </bean>

    <bean id="leagueDao" class="com.SAS.crudoperations.LeagueCRUD">
        <property name="template" ref="jdbcTemplate"></property>
    </bean>





</beans>